<link rel="stylesheet" href="~/css/Create.css" />

<div class="uicoloryellow">
  <!-- Images -->
  <div class="row p-3">
    <div class="col-1 d-none d-md-block"></div>

    <div class="col-md-4 col-6 my-auto">
      <img src="~/images/logos/logo-coca-cola-actualversion2WEB.png" class="images w-auto" alt="...">
    </div>

    <div class="col-sm-2 d-none d-md-block"></div>

    <div class="col-md-4 col-6 my-auto">
      <img src="~/images/logos/logo-coca-cola-actual.png" class="images w-auto" alt="...">
    </div>

    <div class="col-1 d-none d-md-block"></div>
  </div>
</div>

<p class="h-100 text-center">
    <b>
        Se ha registrado exitosamente <br/>
        Puede registrar a otro usuario o volver a la Inter <br/>
    </b>
    <a class="btn btn-success" asp-action="Index">Registrar otro</a>
    <a class="btn btn-success" href="https://www.inter.edu">Inter</a>
</p>
